<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Event Manager</title>
</head>

<body>
    <!-- action attribute: URL where the form's collected data should be sent when it is submitted-->
    <form id="event_form" action="<%= createEventRoute %>" method="post" name="event_form">
        <fieldset>
            <legend>
                CREATE YOUR EVENT
            </legend>

            <ul>
                <li>
                    <!-- Get event name-->
                    <label for="my_event">Event:</label>
                    <input type="text" id="my_event" name="event_name" />
                </li>
                <li>
                    <!-- Get event date & time-->
                    <label for="date">Date:</label>
                    <input type="datetime-local" id="date" name="event_date" />
                </li>
                <li>
                    <!-- Get additional info-->
                    <label for="description">Info:</label>
                    <textarea id="description" name="event_description"></textarea>
                </li>
                <li class="button">
                    <button type="submit">Create Event</button>
                </li>
            </ul>
        </fieldset>
    </form>

</body>
</html>

<script>
    // Run function when form is submitted
    document.getElementById("event_form").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent default behavior of the form
        const formData = new FormData(this); // Get form data

        // Convert form data to JSON
        const formDataObject = {};
        formData.forEach((value, key) => {
            formDataObject[key] = value;
        });
        const jsonData = JSON.stringify(formDataObject);

        // Create HTML request
        const xhr = new XMLHttpRequest();
        xhr.open("POST", '<%= createEventRoute %>', true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                console.log('Event successfully created.');
            } else {
                console.error('Error creating event:', xhr.status, xhr.statusText);
            }
        }
        xhr.send(jsonData);
    });
</script>