<li class="event-container">
  <div class="event-header">
    <h2 class="event-title"><%= event.name %></h2>
    <p class="event-date"><%= event.date %></p>
  </div>
  <div class="event-body">
    <p class="event-description"><%= event.description %></p>
  </div>
</li>
