<header>
  <nav>
      <ul>
          <li>
              <a href="<%= routes.create %>">Create Event</a>
          </li>
          <li>
              <a href="<%= routes.list %>">View Events</a>
          </li>
          <li>
              <a href="<%= routes.feed %>">Feed</a>
          </li>
      </ul>
  </nav>
</header>